@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .oklch {
    color: unset;
  }
}

@utility twitter-element {
  @apply my-14;
}

@utility twitter-tweet {
  @apply mx-auto;
}

@utility twitter-caption {
  @apply max-w-(--breakpoint-md) text-base text-slate-500 mx-auto text-center italic;
}

@utility content {
  h2,
  h3,
  h4 {
    @apply font-title tracking-wider font-normal;
  }
}